<%- include('partials/header') %>

<div class="container mt-5">
    <h1>Menu</h1>
</div>

<div class="container mt-5">
    <p>Logged in as: <%= User %></p>
</div>

<div class="container menu-button">
    <button class="btn btn-dark btn-lg" type="button" name="btnVote">Vote</button>
</div>

<div class="container menu-button">
    <button class="btn btn-dark btn-lg" type="button" name="btnResults">Results</button>
</div>

<div class="container menu-button">
    <a class="btn btn-dark btn-lg" href="/logout" role="button">Log out</a>
</div>



<%- include('partials/footer') %>
